In [1]:
bank_balance = 200

In [2]:
print(bank_balance)

200

In [12]:
height = 60
width = 40
new_area_of_rectangle= height * width
print(new_area_of_rectangle)

2400

In [29]:
weight=72.25
height=1.7
bmi = int(weight / (height * height))
print(bmi)

25

In [52]:
gender = "male"
is_obese = False

In [58]:
total_interest=9762.69
print(type(total_interest))

<class 'float'>

In [60]:
bmi_str = str(25)
message= "BMI is " + bmi_str
print(message)

BMI is 25

In [66]:
edge = 8.9
square_area = edge * edge
square_area_type = type(square_area)
square_area_int=int(square_area)
square_area_str=str(square_area_int)

In [67]:
print(square_area)
print(square_area_type)
print(square_area_int)
print(square_area_str)

79.21000000000001
<class 'float'>
79
79

In [2]:
import  math

In [3]:
square_root=math.sqrt(56.98)
sine_degree= math.sin((math.pi/180)*26)
log_e = math.log(1000)
print(square_root)
print(sine_degree)
print(log_e)

7.548509786706248
0.4383711467890774
6.907755278982137

In [8]:
import random
random_number=random.random()
random_int=int(random_number)

In [13]:
def get_name():
    print("Cloudxlab")
    
get_name()

Cloudxlab

In [23]:
def input_name():
    inp = input("What am I studying?")
    return inp

In [25]:
subject=input_name()
print(subject)

What am I studying?Python
Python

In [27]:
def bool_func(num1, num2, num3,num4):
    exp1 = str(num1>num2)
    exp2 = str(num1==num3)
    exp3 = str(num2<=num3)
    exp4 = str(num4 != num1)
    
    return (exp1 + exp2 + exp3 + exp4)

In [28]:
bool_func(1,2,3,4)

'FalseFalseTrueTrue'

In [31]:
def conditional_statements(num1,num2,num3,num4):
    if num1 < num2 and num1 > num3 and num1 == num4:
        if num3 < num2:
            if type(num2) is float:
                if type(num1) is int and type(num3) is int and type(num4) is int:
                    return num1 + num2 + num3 + num4

In [48]:
def sum_func(num):
    if type(num) is not int:
        return -1
    else:
        if(num>=0):
            a=0
            sum = 0
            while(a<=num):
                sum = sum + a
                a+=1
            return sum
        else:
            return -1

In [51]:
sum_func('abcd')

-1

In [65]:
def special_func(num):
    sum = 0
    if type(num) is int and num>0:
        for i in range(1,num+1):
            if num%i==0 and i%2 != 0:
                sum = sum + i
        return sum
    else:
        return -10

In [69]:
special_func('abcd')

-10

In [104]:
def str_func(string):
    length = len(string)
    return string[length-1]

def sum_str_func(num):
    num = str(num)
    total = 0
    index = 0
    length = len(num)
    while index < length:
        digit = int(num[index])
        total = total + digit
        index = index + 1
    return total

In [106]:
str_func('1234')
sum_str_func(1234)

10

In [1]:
def slicing_func(s):
    print(s[2:])

In [94]:
def email_func(content):
    position = content.find('@')
    index = position
    if position!= -1:
        while index >=0 and content[index]!=' ':
            index-=1
        first_part = content[index+1:position]
        ending_position = content.find(' ',position)
        if ending_position == -1:
            second_part = content[position:]
        else:
            second_part = content[position:ending_position]
        return first_part + second_part
    else:
        return None

In [104]:
email_func("@  ")

'@'

In [96]:
email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

'abhinav@cloudxlab.com'

In [105]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [107]:
print('cloudx lab' in a)

False

In [124]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])

56

In [125]:
a.extend(a)
print(a)

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [126]:
sum(a)

344

In [127]:
a.sort()
print(a[2] + a[7])

14

In [128]:
list = [12,23,43,[2,4,5], 2, 4,5]
list.pop(3)

[2, 4, 5]

In [129]:
sum(list)

89

In [130]:
list = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list[1]
print(list)

['cloudx', 'provides', 'cloud', 'lab']

In [131]:
list.remove('lab')

In [135]:
s = "I am learning Python am at CloudxLab"
sp = s.split("am")
print(sp)

['I ', ' learning Python ', ' at CloudxLab']

In [136]:
delimiter = "am"    
print(delimiter.join(sp))

I am learning Python am at CloudxLab

In [170]:
def str_list_func(s):
    l = s.split(' ')
    i = 0
    for element in l:
        if len(element) > 1:
            first = element[0]
            last = element[len(element)-1]
            middle = element[1:len(element)-1]
            l[i] = last + middle + first
        i+=1
    return ' '.join(l)

In [171]:
str_list_func('I am learning Python at CloudxLab')

'I ma gearninl nythoP ta bloudxLaC'

In [175]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }
print(len(d))

4

In [176]:
print('three' in d)

True

In [177]:
print(4 in d)

False

In [178]:
print(5 in d and 2 in d)

False

In [179]:
def dict_func(string):
    words = string.split()
    counts = dict()
    for word in words:
        counts[word] = counts.get(word,0) + 1
        
    return counts

In [180]:
dict_func('the quick brown fox jumps over the lazy dog')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [184]:
t = (1)
type(t)

int

In [185]:
t = tuple()
print(t)

()

In [186]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))
print(t1)
print(t2)
print(t3)

('1', ',', '2', ',', '3', ',', '4', ',', '5')
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [187]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(t[l-2])

34

In [189]:
t2 = t[2:5]
print(t2)

(5, 2, 54)

In [190]:
t3 = t[1:3] + t2[:]
print(t3)

(3, 5, 5, 2, 54)

In [198]:
def dict_tuple_func(l):
    count = dict()
    for word in l:
        count[word] = count.get(word,0) + 1
    sum = 0 
    for key in count:
        sum += key
        
    t = tuple([count,sum])
    return t

In [199]:
dict_tuple_func([1, 2, 3, 1, 2, 3])

({1: 2, 2: 2, 3: 2}, 6)

In [1]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s = s + line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [48]:
def file_read_func(path):
    try:
        with open(path) as f:
            data = f.read()
            data = data.replace("\n"," ")
            #data = data.replace("."," ")
            sum = 0
            words = data.split(" ")
            for word in words:
                sum += len(word)
            return sum    
    except:
        return -1

In [49]:
file_read_func("/home/divnoorsingh6758219/cloudxlab_jupyter_notebooks/test12")

28

In [44]:
with open("python_file_writing.txt", 'a') as f:
    f.write("I am learning Python at CloudxLab.")

In [45]:
pwd

'/home/divnoorsingh6758219/cloudxlab_jupyter_notebooks'

In [52]:
def file_read_func(path):
    try:
        with open(path) as f:
            content = f.read()
            content = content.replace('\n',' ')
            list_of_words = content.split(" ")
            sum = 0
            for word in list_of_words:
                sum = sum + len(word)
            return sum    
    except:
        return -1

In [53]:
file_read_func("/home/divnoorsingh6758219/cloudxlab_jupyter_notebooks/test12")

28

In [4]:
grep Aylmer /cxldata/big.txt

SyntaxError: invalid syntax (<ipython-input-4-8083f5ce840e>, line 1)